.vs/framework/FileContentIndex/2a583a24-d8c4-4a18-afd6-90646d260a40.vsidx
.vs/framework/FileContentIndex/a85cdfd1-0b5c-44f9-9718-8fbec9b6bffd.vsidx
.vs/framework/FileContentIndex/da8a9f0e-f853-4d30-bc05-9a07e69b4437.vsidx
.vs/framework/v17/Browse.VC.opendb
.vs/framework/v17/Browse.VC.db-wal
.vs/framework/v17/Browse.VC.db-shm
.vs/framework/v17/Browse.VC.opendb
/.vs/framework/v17
/.vs/framework/v17
.vs/framework/FileContentIndex/8bffacbe-8b57-4d27-ad32-45f98f06afe6.vsidx
.vs/framework/FileContentIndex/d00b33aa-fbcf-4813-a124-e3220bd74fc2.vsidx
.vs/framework/v17/Browse.VC.db-shm
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/Browse.VC.db-wal
.vs/framework/v17/Browse.VC.opendb
.vs/framework/FileContentIndex/064d725b-3e9e-49ef-ac5a-7661c6345390.vsidx
.vs/framework/FileContentIndex/7a05d347-cf97-44e0-8623-c126fd4ef581.vsidx
.vs/framework/v17/Browse.VC.opendb
.vs/framework/v17/Browse.VC.opendb
.vs/framework/v17/Browse.VC.db
.vs/framework/FileContentIndex/a84a5922-a756-4e51-9701-b67607090af5.vsidx
.vs/framework/FileContentIndex/b45ae6bf-c33d-4a91-808c-7ade34030b69.vsidx
.vs/framework/FileContentIndex/79bdd2dc-9722-47ed-9eea-fd8e2fa1ea7f.vsidx
.vs/framework/FileContentIndex/9d738f5a-6796-4a11-b132-1e43662cda14.vsidx
.vs/framework/v17/Browse.VC.opendb
.vs/framework/v17/Browse.VC.opendb
/.vs/framework/v17
.vs/framework/FileContentIndex/ea71c878-585b-43aa-a01d-40edda1afcf7.vsidx
.vs/framework/FileContentIndex/a6a0ddac-bf41-4b47-a7c9-c9f55daffe40.vsidx
.vs/framework/FileContentIndex/da4ac0fe-d401-495c-8b8b-f736ce3ea588.vsidx
.vs/framework/FileContentIndex/d920dffb-e07c-4bf2-8363-85f34770baaf.vsidx
.vs/framework/FileContentIndex/0af02efc-e8c1-4198-ae39-c9149d9a4744.vsidx
.vs/framework/FileContentIndex/5c7b5c29-525a-4199-8e44-cf16b1e17d10.vsidx
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/Browse.VC.opendb
.vs/framework/FileContentIndex/1cd937d5-1b7e-4540-931c-21f2ca68b781.vsidx
/.vs/framework/v17
.vs/framework/v17/.suo
.vs/framework/FileContentIndex/b79ca205-946d-44f8-bdcb-6fe3c6b958cc.vsidx
.vs/framework/FileContentIndex/4020935c-5da8-4f31-87a0-a39c15a2b25e.vsidx
.vs/framework/FileContentIndex/9e34708a-6a56-45d2-81ee-fd8dd57d24a0.vsidx
