*.vsidx
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/.suo
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/ipch/AutoPCH/29133d8961919d90/INTERACT.ipch
.vs/framework/v17/ipch/AutoPCH/701ffc4945992494/FRAMEWORK.ipch
.vs/framework/v17/Browse.VC.db
.vs/framework/v17/.suo
.vs/framework/v17/DocumentLayout.json
.vs/framework/v17/Browse.VC.db
*.ipch
.vs/framework/v17/Browse.VC.opendb
